<app-passenger-navbar [userName]="passengerUserName.name" [userEmail]="passengerEmail"></app-passenger-navbar>
<div class="row">
    <div class="container w-25 ">
        <h2>Book Tickets</h2>
        <form [formGroup]='bookTicketsForm'>
            <div class="row">
                <div class="col-lg-6">
                    <h2>Source</h2>
                </div>
                <div class="col-lg-6">
                    <h2>Destination</h2>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6">
                    <select class="form-control" formControlName='source' [(ngModel)]="selectedSource" (change)="test()">
                        <option class="form-control" [ngValue]="defaultSource" disabled selected>Choose Source</option>
                        <option *ngFor="let s of source" class="form-control" [ngValue]="s">{{s}}</option>
                       
                    </select>
                </div>
                <div class="col-lg-6">
                    <select class="form-control" formControlName='destination' [(ngModel)]="selectedDestination">
                        <option class="form-control" [ngValue]="defaultDestination" disabled selected>Choose Destination</option>
                        <option *ngFor="let d of destination" class="form-control" [ngValue]="d">{{d}}</option>
                        
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 mt-4">
                    <input class="form-control" type="date" formControlName='date' id="datefield">
                </div>
                <div class="col-lg-6 mt-4">
                    <input type="submit" value="Submit" class="form-control btn btn-success" (click)="searchBus()">
                </div>
            </div>
        </form>
    </div>
</div>